In [1]:
#python --version

In [2]:
print(type(45))
print(type(45.78))
print(type('45'))
print(type(5>4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
a=45
b='sam'
c=4>3   ###a,b,c = variable

In [ ]:
#input() ===> this is a pre-defined function of python in which it will take
#query from a user and its output will be in string format.

In [4]:
a='12'
type(a)

str

In [5]:
a = '12'
b = '34'
c=a+b
c

'1234'

In [6]:
a=input("Enter first number: ")
b=input("enter second number: ")
c=a+b
c

Enter first number: 12
enter second number: 34

'1234'

In [7]:
#type-casting ===> Using this method, we can convert one data type to another
#data type

In [9]:
a=int(67.89)
a

67

In [10]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=a+b
c

Enter first number: 12
Enter second number: 34

46

In [11]:
#print() ===>It will execute our query on terminal.
print(45)
print('Sakshi')

45
Sakshi

In [13]:
a=4
b=5
print(a,b)
a=100
print(a,b)

4 5
100 5

In [ ]:
#mostly used operators in python
#1. addition(+) ==> 5+3=8
#2. subtraction(-) ==> 3-1=2
#3. multiplication(*) ==> 5*3=15
#4. ddivision(/) ==> 5/2=2.5
#5. floor division(//) ==> 5//2=1
#6. module(%)==> for remainder calculation==>25%10=5(remainder)
#7. equal to(=) ==> for values assignment ==> a=5. b=10
#8. equal equal to(==) ==> for values comparison ==> a==b, 4==5
#9. not equal to(!=) 4!=5
#10. greater than(>)==> 5>4
# (11). greater than or equal to (>=) ==> 5>=5
# (12). less than (<) ===> 3<4
# (13). less than or equal to(<=) ===> 3<=3

In [ ]:
#conditional statements

#(1). if
#(2). elif
#(3). else

In [14]:
a = "jod"
if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

yes

In [18]:
a = input("enter your name:")
if a == "jod":         #if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

enter your name:jod
yes

In [20]:
#Q.2
a=int(input("Enter your age:"))
if(0<=a<=19):
  print("teenage")
elif(20<=a<=35):
    print("Young")
elif(35<=a<=90):
      print("Old")
else:
        print("please enter a valid age...")

Enter your age:21
Young

In [21]:
#NESTED CONDITIONAL STATEMENTS

In [24]:
a=int(input("enter number:"))
if(0<=a<=30):
  print("your RTO information")
if(18<=a<=28):
 if(a==25):
  print("you won a scratch coopan....")
  print("you can drive")
else:
 print("you can't drive")

enter number:21
your RTO information

In [27]:
#method - 1
a="sakshi"
for i in a:
  print(i)

s
a
k
s
h
i

In [28]:
a="sakshi"
for i in a:
  print(i,end=" ")

s a k s h i

In [29]:
#method 3
a="sakshi"
len(a)

6

In [30]:
for i in range(len(a)):
  print(a[i])

s
a
k
s
h
i

In [31]:
#method 4
#start_index_value(include) and last_index_value(exclude)

#for i in range(start, last, step_value):print(i)

In [32]:
for i in range(0,len(a)):
  print(a[i])

s
a
k
s
h
i

In [34]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [35]:
#while loop

#(a). initialization
#(b). condition
#(c). Increment or decrement

In [36]:
# Q-1) write a program which prints from 1 to 3?

In [37]:
i=1   ##initailiztion
n=3
while(i<=n): ## condition
    print(i)
    i = i +1    ## increment

1
2
3

In [38]:
# step-1 (i = 1, n = 3)
#while(1<=3):
#    print(1)
#   i = 1+1 = 2

#step-2 (i=2, n =3)
# while(2<=3):
# print(2)
# i=3+1 = 4

# step-3 (i=3 , n=3)
#while(3<=3):
#print(3)
#i =3+1 = 4

# step-4 (i=4,n=3)
#while(4<=3):
#break

In [39]:
i=1
n=4
sum=0
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

10

In [41]:
#  step-1 (i=1, n=4, sum =0)
# while(1<=4)
#  sum = 0+1 =1
# i= 1+1+=2

# step -2 (i=2, n=4, sum =1)
# while(2<=4):
#     sum=1+2=3
#     i= 2+1 = 3

#step -3 (i=3, n=4, sum=3)
# while(3<=4):
#     sum=3+3=6
#     i= 3+1=4

#step-4 (i=4, n=4, sum=6)
# while(4<=4):
#     sum=6+4=10
#     i= 4+1=5

# Final output ====> sum = 10

In [42]:
#Q.3
# 4
# 3
# 2
# 1

In [54]:
i = 4

while i >= 1:
    print(i)
    i = i - 1

4
3
2
1

In [50]:
#Q.4
# a=1234
# odd 1+3=4
# even 2+4=6

In [51]:
a = input("Enter a number: ")
odd = 0
even = 0

for digit in a:
    if int(digit) % 2 == 0:
        even += int(digit)
    else:
        odd += int(digit)

print("Sum of odd digits:", odd)
print("Sum of even digits:", even)

Enter a number: 1234
Sum of odd digits: 4
Sum of even digits: 6

In [56]:
# a = 123 ===> reverse ===>321

In [57]:
a = int(input("Enter a number: "))
reverse = 0

while a != 0:
    digit = a % 10
    reverse = reverse * 10 + digit
    a = a // 10

print("Reversed number:", reverse)

Enter a number: 123
Reversed number: 321

In [2]:
for i in range(1,6):
 print(i*'*')

*
**
***
****
*****

In [4]:
for i in range(0,3):
  for j in range(0,2):
    print("i=", i , "j=",j)

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [5]:
#functions in python
# (1). pre-defined functions = print(), input(), min(), sort()
# (2). manually created functions
# (a). def
# (b). name_of_function
# (c). logics
# (d). call_the_function

In [7]:
#Create a function who add two numbers?

def my_add():
  a=5
  b=6
  c=a+b
  print("Add=",c)
my_add()

Add= 11

In [8]:
#arguments and parameters ===>
#parameters ==> these are the values which we passes when we create a function.

In [9]:
#arguments ==> these are the values which we passes when we call the function.

In [10]:
def my_add(a,b):
  c=a+b
  print("Add=",c)
my_add(4,5)

###(a,b) --> parameters , (4,5) ---> arguments

Add= 9

In [11]:
#Lambda function ==>  a lambda function ca take any number of arguments
#but can only have one expression.
#syntax : Lambda arguments : expression
#Ex.1
x=lambda a:a+10
print("Total value=", x(2))

#Ex.2
x=lambda a,b:a*b
print("Total product is=", x(3,4))

#Ex.3
x=lambda a,b,c:a+b+c
print("Total =", x(4,5,6))

Total value= 12
Total product is= 12
Total = 15

In [19]:
a = [1,1,1,2,3,3,3,3,1,45,67,44,99,5,5,5,5,0]
b=[]

In [20]:
for i in range(len(a)):
    if(a.count(a[i])==1):
        b.append(a[i])
print(b)

[2, 45, 67, 44, 99, 0]

In [23]:
ages=[5,12,17,18,34,67,50]
def myFunc(x):
  if (x <= 18):
    return True
  else:
    return False

kid = list(filter(myFunc, ages))
print(kid)

[5, 12, 17, 18]