In [1]:
#python --version

In [2]:
print(type(45))
print(type(45.78))
print(type('45'))
print(type(5>4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
a=45
b='sam'
c=4>3   ###a,b,c = variable

In [ ]:
#input() ===> this is a pre-defined function of python in which it will take
#query from a user and its output will be in string format.

In [4]:
a='12'
type(a)

str

In [5]:
a = '12'
b = '34'
c=a+b
c

'1234'

In [6]:
a=input("Enter first number: ")
b=input("enter second number: ")
c=a+b
c

Enter first number: 12
enter second number: 34

'1234'

In [7]:
#type-casting ===> Using this method, we can convert one data type to another
#data type

In [9]:
a=int(67.89)
a

67

In [10]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=a+b
c

Enter first number: 12
Enter second number: 34

46

In [11]:
#print() ===>It will execute our query on terminal.
print(45)
print('Sakshi')

45
Sakshi

In [13]:
a=4
b=5
print(a,b)
a=100
print(a,b)

4 5
100 5

In [ ]:
#mostly used operators in python
#1. addition(+) ==> 5+3=8
#2. subtraction(-) ==> 3-1=2
#3. multiplication(*) ==> 5*3=15
#4. ddivision(/) ==> 5/2=2.5
#5. floor division(//) ==> 5//2=1
#6. module(%)==> for remainder calculation==>25%10=5(remainder)
#7. equal to(=) ==> for values assignment ==> a=5. b=10
#8. equal equal to(==) ==> for values comparison ==> a==b, 4==5
#9. not equal to(!=) 4!=5
#10. greater than(>)==> 5>4
# (11). greater than or equal to (>=) ==> 5>=5
# (12). less than (<) ===> 3<4
# (13). less than or equal to(<=) ===> 3<=3

In [ ]:
#conditional statements

#(1). if
#(2). elif
#(3). else

In [14]:
a = "jod"
if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

yes

In [18]:
a = input("enter your name:")
if a == "jod":         #if a == "jod":
    print("yes")
elif a == "dog":
    print("no")
elif a == "god":
    print("ok")
else:
    print("try again")

enter your name:jod
yes

In [20]:
#Q.2
a=int(input("Enter your age:"))
if(0<=a<=19):
  print("teenage")
elif(20<=a<=35):
    print("Young")
elif(35<=a<=90):
      print("Old")
else:
        print("please enter a valid age...")

Enter your age:21
Young

In [21]:
#NESTED CONDITIONAL STATEMENTS

In [24]:
a=int(input("enter number:"))
if(0<=a<=30):
  print("your RTO information")
if(18<=a<=28):
 if(a==25):
  print("you won a scratch coopan....")
  print("you can drive")
else:
 print("you can't drive")

enter number:21
your RTO information

In [27]:
#method - 1
a="sakshi"
for i in a:
  print(i)

s
a
k
s
h
i

In [28]:
a="sakshi"
for i in a:
  print(i,end=" ")

s a k s h i

In [29]:
#method 3
a="sakshi"
len(a)

6

In [30]:
for i in range(len(a)):
  print(a[i])

s
a
k
s
h
i

In [31]:
#method 4
#start_index_value(include) and last_index_value(exclude)

#for i in range(start, last, step_value):print(i)

In [32]:
for i in range(0,len(a)):
  print(a[i])

s
a
k
s
h
i

In [34]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [35]:
#while loop

#(a). initialization
#(b). condition
#(c). Increment or decrement

In [36]:
# Q-1) write a program which prints from 1 to 3?

In [37]:
i=1   ##initailiztion
n=3
while(i<=n): ## condition
    print(i)
    i = i +1    ## increment

1
2
3

In [38]:
# step-1 (i = 1, n = 3)
#while(1<=3):
#    print(1)
#   i = 1+1 = 2

#step-2 (i=2, n =3)
# while(2<=3):
# print(2)
# i=3+1 = 4

# step-3 (i=3 , n=3)
#while(3<=3):
#print(3)
#i =3+1 = 4

# step-4 (i=4,n=3)
#while(4<=3):
#break

In [39]:
i=1
n=4
sum=0
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

10

In [41]:
#  step-1 (i=1, n=4, sum =0)
# while(1<=4)
#  sum = 0+1 =1
# i= 1+1+=2

# step -2 (i=2, n=4, sum =1)
# while(2<=4):
#     sum=1+2=3
#     i= 2+1 = 3

#step -3 (i=3, n=4, sum=3)
# while(3<=4):
#     sum=3+3=6
#     i= 3+1=4

#step-4 (i=4, n=4, sum=6)
# while(4<=4):
#     sum=6+4=10
#     i= 4+1=5

# Final output ====> sum = 10

In [42]:
#Q.3
# 4
# 3
# 2
# 1

In [54]:
i = 4

while i >= 1:
    print(i)
    i = i - 1

4
3
2
1

In [50]:
#Q.4
# a=1234
# odd 1+3=4
# even 2+4=6

In [51]:
a = input("Enter a number: ")
odd = 0
even = 0

for digit in a:
    if int(digit) % 2 == 0:
        even += int(digit)
    else:
        odd += int(digit)

print("Sum of odd digits:", odd)
print("Sum of even digits:", even)

Enter a number: 1234
Sum of odd digits: 4
Sum of even digits: 6

In [56]:
# a = 123 ===> reverse ===>321

In [57]:
a = int(input("Enter a number: "))
reverse = 0

while a != 0:
    digit = a % 10
    reverse = reverse * 10 + digit
    a = a // 10

print("Reversed number:", reverse)

Enter a number: 123
Reversed number: 321

In [2]:
for i in range(1,6):
 print(i*'*')

*
**
***
****
*****

In [4]:
for i in range(0,3):
  for j in range(0,2):
    print("i=", i , "j=",j)

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

In [5]:
#functions in python
# (1). pre-defined functions = print(), input(), min(), sort()
# (2). manually created functions
# (a). def
# (b). name_of_function
# (c). logics
# (d). call_the_function

In [7]:
#Create a function who add two numbers?

def my_add():
  a=5
  b=6
  c=a+b
  print("Add=",c)
my_add()

Add= 11

In [8]:
#arguments and parameters ===>
#parameters ==> these are the values which we passes when we create a function.

In [9]:
#arguments ==> these are the values which we passes when we call the function.

In [10]:
def my_add(a,b):
  c=a+b
  print("Add=",c)
my_add(4,5)

###(a,b) --> parameters , (4,5) ---> arguments

Add= 9

In [11]:
#Lambda function ==>  a lambda function ca take any number of arguments
#but can only have one expression.
#syntax : Lambda arguments : expression
#Ex.1
x=lambda a:a+10
print("Total value=", x(2))

#Ex.2
x=lambda a,b:a*b
print("Total product is=", x(3,4))

#Ex.3
x=lambda a,b,c:a+b+c
print("Total =", x(4,5,6))

Total value= 12
Total product is= 12
Total = 15

In [19]:
a = [1,1,1,2,3,3,3,3,1,45,67,44,99,5,5,5,5,0]
b=[]

In [20]:
for i in range(len(a)):
    if(a.count(a[i])==1):
        b.append(a[i])
print(b)

[2, 45, 67, 44, 99, 0]

In [23]:
ages=[5,12,17,18,34,67,50]
def myFunc(x):
  if (x <= 18):
    return True
  else:
    return False

kid = list(filter(myFunc, ages))
print(kid)

[5, 12, 17, 18]

In [24]:
#map function() ===> the map() executes a specified function for each
#item in a iterable. The item is sent to the function as parameters.

a=["3", "45", "89"]

#method -1
#print(a)
for i in range(len(a)):
  a[i]=int(a[i])
print(a)

#method -2 (by using map function)
b=list(map(int,a))
print(b)

[3, 45, 89]
[3, 45, 89]

In [25]:
#Q.1 You manage a store with several products. Write a program that #continuously accepts product names and quantities as input until the
#user types "stop". If a product's quantity falls below a given

#threshold (say 10), display a warning message to reorder the product.

#Q.2 write a Python program that takes a list of student scores as

#input and calculates the average score. If any student scores below 40,
#display a message saying "Fail" for that student. Also, find and print the highest and Lowest scores.

#Q.3 Write a Python program for an ATM that allows users to withdraw #money in multiples of 100. The ATM only has a Limited number of bills

#of denominations: 100, 500, and 2000. The program should keep track of #available bills and prompt the user if the amount they request exceeds

#the available bills or is not a multiple of 100.

In [26]:
# Q.1 code

def manage_store():
    threshold = 10  # Set threshold for low stock
    while True:
        product = input("Enter product name (or 'stop' to exit): ")
        if product == 'stop':
            break  # Stop if user types "stop"

        quantity = int(input(f"Enter quantity for {product}: "))
        if quantity < threshold:
            print(f"Warning: {product} has low stock. Please reorder!")

manage_store()

Enter product name (or 'stop' to exit): shoes
Enter quantity for shoes: 5
Warning: shoes has low stock. Please reorder!
Enter product name (or 'stop' to exit): shoes
Enter quantity for shoes: 11
Enter product name (or 'stop' to exit): stop

In [28]:
# Q.2 code

def student_scores():
    # Input: List of student scores
    scores = list(map(int, input("Enter student scores (separated by spaces): ").split()))

    # Calculate average score
    avg_score = sum(scores) / len(scores)
    print(f"Average Score: {avg_score}")

    # Check for failing students
    for score in scores:
        if score < 40:
            print(f"Fail: {score}")
        else:
            print(f"Pass: {score}")

    # Find highest and lowest score
    print(f"Highest Score: {max(scores)}")
    print(f"Lowest Score: {min(scores)}")

student_scores()

Enter student scores (separated by spaces): 50 60 70 80 90 95
Average Score: 74.16666666666667
Pass: 50
Pass: 60
Pass: 70
Pass: 80
Pass: 90
Pass: 95
Highest Score: 95
Lowest Score: 50

In [40]:
def atm_withdrawal():
    # Available bills: 100, 500, and 2000
    bills = {100: 10, 500: 5, 2000: 2}  # Example: 10 bills of 100, 5 of 500, 2 of 2000

    while True:
        amount = int(input("Enter amount to withdraw (multiple of 100): "))

        if amount == 0:
            break  # Exit if the user enters 0

        if amount % 100 != 0:
            print("Amount must be a multiple of 100!")
            continue

        # Try to withdraw the amount with available bills
        withdrawn = {100: 0, 500: 0, 2000: 0}
        for denom in [2000, 500, 100]:
            if amount >= denom:
                bills_needed = amount // denom
                bills_available = bills[denom]
                bills_to_withdraw = min(bills_needed, bills_available)
                withdrawn[denom] = bills_to_withdraw
                amount -= bills_to_withdraw * denom
                bills[denom] -= bills_to_withdraw

        # Check if the full amount was withdrawn
        if amount == 0:
            print(f"Withdrawal successful! {withdrawn}")
            print(f"Remaining bills: {bills}")
        else:
            print("Error: Insufficient bills or invalid amount.")

atm_withdrawal()

Enter amount to withdraw (multiple of 100): 1000
Withdrawal successful! {100: 0, 500: 2, 2000: 0}
Remaining bills: {100: 10, 500: 3, 2000: 2}
Enter amount to withdraw (multiple of 100): 0

In [ ]:
#Q.4 You are designing a Loan approval system for a bank. Write a Python
#program that takes the user's salary, credit score, and years of employment #as input. The Loan is approved if the salary is above $50,000, the credit

#score is above 700, and the user has been employed for at least 2 years.

#Q.5 Write a Python program to manage a parking Lot system where each parking
#slot can accommodate only one vehicle. The parking Lot has a maximum

#capacity of n vehicles. The program should track the current number of
#parked vehicles and display a message when the parking Lot is full.

#Q.6 Write a Python program for an airline reservation system.

#The program should accept passenger details and continuously ask if

#there are more passengers to add. If the flight is full

# (with a maximum number of seats), display a "Flight FuLL" message.

In [39]:
# Q.4 code

def loan_approval():
    salary = float(input("Enter your salary: "))
    credit_score = int(input("Enter your credit score: "))
    years_employed = int(input("Enter number of years employed: "))

    if salary > 50000 and credit_score > 700 and years_employed >= 2:
        print("Loan Approved!")
    else:
        print("Loan Denied!")

loan_approval()

Enter your salary: 1000000
Enter your credit score: 20000
Enter number of years employed: 2
Loan Approved!

In [41]:
# Q.5 code

def parking_lot_system(capacity):
    parked_vehicles = 0

    while parked_vehicles < capacity:
        action = input("Do you want to park a vehicle? (yes/no): ").lower()
        if action == 'yes':
            parked_vehicles += 1
            print(f"Vehicle parked. {capacity - parked_vehicles} spaces left.")
        elif action == 'no':
            print("No vehicle parked.")
        else:
            print("Invalid input. Please type 'yes' or 'no'.")

        if parked_vehicles == capacity:
            print("Parking lot is full!")
            break

# Example usage
parking_lot_system(5)  # Set parking lot capacity to 5 vehicles

Do you want to park a vehicle? (yes/no): yes
Vehicle parked. 4 spaces left.
Do you want to park a vehicle? (yes/no): yes
Vehicle parked. 3 spaces left.
Do you want to park a vehicle? (yes/no): yes
Vehicle parked. 2 spaces left.
Do you want to park a vehicle? (yes/no): no
No vehicle parked.
Do you want to park a vehicle? (yes/no): yes
Vehicle parked. 1 spaces left.
Do you want to park a vehicle? (yes/no): yes
Vehicle parked. 0 spaces left.
Parking lot is full!

In [44]:
# Q.6 code

def airline_reservation():
    max_seats = 5  # Maximum number of seats on the flight
    passengers = 0

    while passengers < max_seats:
        passengers += 1
        name = input("Enter name of passenger: ")
        print("Passenger added to the flight.")
        if passengers == max_seats:
            print("Flight Full!")
            break
        more_passengers = input("Do you want to add another passenger? (yes/no): ")
        if more_passengers.lower() != 'yes':
            break

airline_reservation()

Enter name of passenger: sakshi
Passenger added to the flight.
Do you want to add another passenger? (yes/no): yes
Enter name of passenger: komal
Passenger added to the flight.
Do you want to add another passenger? (yes/no): yes
Enter name of passenger: sashana
Passenger added to the flight.
Do you want to add another passenger? (yes/no): yes
Enter name of passenger: kusum
Passenger added to the flight.
Do you want to add another passenger? (yes/no): yes
Enter name of passenger: prayanjali
Passenger added to the flight.
Flight Full!

In [2]:
#Q.7 Write a Python program to help a user track their monthly budget.
#The program should continuously accept expense amounts from the user
#until they type "done".
#It should then calculate the total expenses #and compare them with a predefined monthly budget.
#Display if the user is over or under budget.

In [2]:
def budget_tracker():
    budget = 1000  # Monthly budget
    expenses = []

    print("Enter expenses (type 'done' to finish):")
    while (entry := input("Expense: ")) != "done":
        expenses.append(float(entry))

    total = sum(expenses)
    print(f"Total Expenses: ${total:.2f}")
    print("You are", "over" if total > budget else "under", "budget by ${:.2f}".format(abs(budget - total)))

budget_tracker()

Enter expenses (type 'done' to finish):
Expense: 100
Expense: 100
Expense: 1000
Expense: done
Total Expenses: $1200.00
You are over budget by $200.00

In [3]:
#Q.8 Write a Python program for a restaurant ordering system.
#The program should display a menu with food items and prices.

#It should continuously accept customer orders until the user types "done"
#The program should #then calculate the total bill and apply a 10% discount

#if the total bill exceeds $100.

In [24]:
def restaurant_order():
    menu = {"Burger": 40, "Pizza": 20, "Pasta": 20, "Salad": 10, "Soda": 10}
    total = 0

    print("Menu:", menu)
    print("Type 'done' to finish your order.")

    while True:
        order = input("Order: ").capitalize()

        total += menu.get(order, 0)
        if order == "Done":
          break
    if total > 100:
        total *= 0.9

    print(f"Total Bill: ${total:.2f}")

restaurant_order()

Menu: {'Burger': 40, 'Pizza': 20, 'Pasta': 20, 'Salad': 10, 'Soda': 10}
Type 'done' to finish your order.
Order: Burger
Order: Pizza
Order: Pasta
Order: Salad
Order: Soda
Order: Pizza
Order: Pasta
Order: Done
Total Bill: $126.00

In [9]:
#Q.9 Write a Python program for a Library book management system.

#The system should allow a Librarian to continuously input the number of borrowed books.
#When a user tries to borrow a book, the system #checks whether the total borrowed books have reached a certain

#threshold (e.g., 50). If the Limit is reached, the system should display #a message saying "No more books can be borrowed".

In [26]:
def library_management():
    max_books = 50
    borrowed_books = 0

    print("Type 'done' to stop entering borrowed books.")

    while True:
        entry = input("Enter number of books borrowed: ")
        if entry.lower() == "done":
            break
        borrowed_books += int(entry)
        if borrowed_books >= max_books:
            print("No more books can be borrowed.")
            borrowed_books = max_books
            break

    print(f"Total borrowed books: {borrowed_books}")

library_management()

Type 'done' to stop entering borrowed books.
Enter number of books borrowed: 30
Enter number of books borrowed: done
Total borrowed books: 30

In [27]:
#Q.10 Write a Python program for an e-commerce website where users can input the total cart value.
#Based on the value, different discount rates are applied:
#If the value is above $500, apply a 20% discount.
#If the value is between $200 and $500, apply a 10% discount.
#If the value is below $200, no discount is applied. The program should
#calculate and print the final price after applying the discount.

In [30]:
def e_commerce():
  value=float(input("Enter total cart value:$"))

  if value>500:
   value = value * 0.8
  elif value>200 and value<500:
   value = value * 0.9
  else:
   print("No discount is applied")

  final_price = value

  print("Final Price after discount: $", final_price)


e_commerce()

Enter total cart value:$1000
Final Price after discount: $ 800.0

In [31]:
#Q.11 Write a Python program to calculate the year-end bonus for employees.
#The bonus is based on performance ratings and years of service:
#Employees with a rating above 4 and service years greater than 5 get a 20% #bonus on their salary.
#Employees with a rating between 3 and 4 get a 10% bonus if they have more than 2 years of service.
#All others get a 5% bonus. The program should take the employee's salary, rating, and years of service as input and output the final bonus amount.

In [33]:
def Bonus():

  salary = float(input("Enter employees salary:$"))
  rating = float(input("Enter ratings:$"))
  service_years = float(input("Enter service years:$"))

  if rating > 4 and service_years > 5:
   bonus = salary * 0.20
  elif 3 <= rating <= 4  and service_years < 2:
   bonus = salary * 0.10
  else:
   bonus = salary * 0.05

  final_bonus = bonus

  print("Final bonus: $", final_bonus)


Bonus()

Enter employees salary:$100000
Enter ratings:$4.7
Enter service years:$7
Final bonus: $ 20000.0