In [6]:
# STRING IN PYTHON

#1. identification = '', "", ''' '''
#2. immutable data type ===o> we cannot change or update values at a run time
#3. indexing start from 0 and length start from 1.

In [2]:
a = "sakshi"
type(a)

str

In [3]:
#loop in string
for i in a:
  print(i)

s
a
k
s
h
i

In [4]:
for i in range(len(a)):
  print(a[i])

s
a
k
s
h
i

In [5]:
#propeties of string
#(1). concatenation
a = '12' + '34'
a

'1234'

In [7]:
#(2). replication
a = '12' * 3
a

'121212'

In [8]:
#(3). slicing in string

a = "Python"
print(a[0])   ## forward indexing
print(a[1])
print(a[2])

print(a[-1])   ## reverse/backward indexing
print(a[-2])
print(a[-3])

P
y
t
n
o
h

In [9]:
a = "Python"
print(a[0:4])
print(a[4:])
print(a[:3])
print(a[:])

Pyth
on
Pyt
Python

In [10]:
# String Functions

#(1). lower() and upper(): Convert the string to lowercase or uppercase

text = "Hello"
print(text.lower())
print(text.upper())

hello
HELLO

In [11]:
#(2). stip(): Removes whitespace from both ends of a string.
text = "   Hello, World!   "
print(text.strip())

Hello, World!

In [13]:
a = "Python  "
a.rstrip()

'Python'

In [14]:
a = "Python"
a.lstrip()

'Python'

In [12]:
#(3). replace(): replaces a substring with another string.
text = "I love python"
print(text.replace("python", "coding"))

I love coding

In [20]:
#(4). split(): splits a string into a list.
text ="apple, banana, cherry"
print(text.split(", "))

['apple', 'banana', 'cherry']

In [17]:
#(5). join(): joins elements of a list into a single string.
fruits = ['apple', 'banana', 'cherry']
print(", ". join(fruits))

apple, banana, cherry

In [25]:
#(6). Isalnum():
a = "sam123"
a.isalnum()

True

In [27]:
#(7). isalpha()
a = "sam"
a.isalpha()

True

In [28]:
#(8). isdigit():
a = "134"
a.isdigit()

True

In [29]:
##LIST IN PYTHON

#(1). Identification = []
#(2). Mutable data type ===> we can change or update our values at a run time.
#(3). Indexing start from 0 and length start from 1.

In [30]:
a = ['sam' , 'python' , 'rahul' , 'math']
type(a)

list

In [33]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
python
rahul
math

In [35]:
print(a[0][2])
print(a[3][3])

m
h

In [36]:
#loop in list
a = ['sam' , 'python' , 'rahul' , 'math']
for i in a:
  print(i)

sam
python
rahul
math

In [40]:
for i in range(len(a)):
  print(i)

 # print(a[i])   to print characters

0
1
2
3

In [42]:
#PROPERTIES OF LIST

#(1). cocatenation
a = [1,2,3]
b = [4,5,6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [43]:
#(2). replicaation
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
# FUNCTIONS IN LIST

#(1). Len()
a = [1,2,34,5,56]
print(len(a))

5

In [46]:
#(2). index()
a = ['sam' , 'python' , 'rahul' , 'math']
print(a.index('math'))

3

In [47]:
#(3). append() ===> it will add element in the last indexing.
a = ['sam' , 'python' , 'rahul' , 'math']
a.append('physics')
a

['sam', 'python', 'rahul', 'math', 'physics']

In [48]:
#(4). insert(index , object) ===> we can add elemnt at any indexing.
a = ['sam' , 'python' , 'rahul' , 'math']
a.insert(1 , "chemistry")
a

['sam', 'chemistry', 'python', 'rahul', 'math']

In [50]:
#(5). remove() ===>
a = ['sam' , 'python' , 'rahul' , 'math']
a.remove('math')
a

['sam', 'python', 'rahul']

In [52]:
#(6). pop() ===> it will remove element from last indexing.

a = ['sam' , 'python' , 'rahul' , 'math']
print(a)
a.pop()
print(a)
a.pop()
print(a)
a.pop()
print(a)

['sam', 'python', 'rahul', 'math']
['sam', 'python', 'rahul']
['sam', 'python']
['sam']

In [53]:
# HOW CAN WE CREATE A USER DEFINED LIST?

In [56]:
a = []
size = int(input("enter item:"))
for i in range(size):
  val = input("enter item:")
  a.append(val)
print(a)

enter item:3
enter item:gdf
enter item:3
enter item:dfgrfdgdf
['gdf', '3', 'dfgrfdgdf']

In [57]:
# TUPLE IN PYTHON

In [58]:
#(1). identification = ()
#(2). immutable datatype ===> we cannnot change or update our values at a run time.
#(3). indexing start from 0 and length start from 1.

In [60]:
a = ('math' , 'physics' , 'js')
type(a)

tuple

In [62]:
print(a[0])
print(a[1])
print(a[2])

math
physics
js

In [64]:
a = 13,      # This also represents tuples
type(a)

tuple

In [65]:
#loop in tuple
a = ['raj' , 'sam' , 'rahul']
for i in a:
  print(i)

raj
sam
rahul

In [66]:
print(a[0:])
print(a[0:2])
print(a[:2])
print(a[:])

['raj', 'sam', 'rahul']
['raj', 'sam']
['raj', 'sam']
['raj', 'sam', 'rahul']

In [67]:
#(1). len()
a = (1,2,3)
len(a)

3

In [68]:
#(2). index()
a = (1,2,578,90)
a.index(578)

2

In [69]:
#(3). count() ==> it will return total frequency of object.
a = (1,2,2,2,2,2,3,4)
print(a.count(2))

5

In [70]:
#HOW CAN WE CREATE A USER DEFINED TUPLE?

In [72]:
a = []
size = int(input("enter item:"))
for i in range(size):
  val = input("enter item:")
  a.append(val)
b = tuple(a)
b

enter item:2
enter item:121
enter item:3423

('121', '3423')

In [73]:
a = (1, "sam", 79)
b = list(a)
b[2] = 5000
b

[1, 'sam', 5000]

In [74]:
a=[]
size = int(input("Enter item:"))
for i in range (size):
  val = int(input("Enter value:"))
  a.append(val)
b=tuple(a)
print(b)
c=list(b)
p=int(input("Enter Your index for updated:"))
c[p]=input("Enter updated value:")
d=tuple(c)
d

Enter item:3
Enter value:21
Enter value:343
Enter value:3
(21, 343, 3)
Enter Your index for updated:1
Enter updated value:333

(21, '333', 3)

# DICTIONARY IN PYTHON

In [2]:
#(1). identification = {key:value , key:value...}
#(2). mutable datatype ==> we can change values at a run time.
#(3). elements are separated by commas.

In [3]:
a = {'brand': 'mahindra' , 'model': 'scorpio' , 'year': '2023'}
type(a)

dict

In [4]:
#loop in dictionary
for i in a.keys():
  print(i)

brand
model
year

In [5]:
for i in a.values():
  print(i)

mahindra
scorpio
2023

In [6]:
for x,y in a.items():
  print(x,y)

brand mahindra
model scorpio
year 2023

In [7]:
a['year'] = 2024

In [8]:
a

{'brand': 'mahindra', 'model': 'scorpio', 'year': 2024}

In [11]:
a['Year'] = 2025    ##it is case sensitive

In [10]:
a

{'brand': 'mahindra', 'model': 'scorpio', 'year': 2024, 'Year': 2025}

Functions in Dictionary

In [13]:
#(1). len()
len(a)

4

In [14]:
#(2). pop()
print(a)
a.pop('Year')
print(a)

{'brand': 'mahindra', 'model': 'scorpio', 'year': 2024, 'Year': 2025}
{'brand': 'mahindra', 'model': 'scorpio', 'year': 2024}

In [15]:
#(3). popitem()
a = {'brand': 'mahindra' , 'model': 'scorpio' , 'year': '2023'}
print(a)
a.popitem()
print(a)
a.popitem()
print(a)

{'brand': 'mahindra', 'model': 'scorpio', 'year': '2023'}
{'brand': 'mahindra', 'model': 'scorpio'}
{'brand': 'mahindra'}

In [16]:
#(4). del
a = {'brand': 'mahindra' , 'model': 'scorpio' , 'year': '2023'}
print(a)
del a
print(a)

{'brand': 'mahindra', 'model': 'scorpio', 'year': '2023'}

NameError: name 'a' is not defined

In [17]:
#(5). clear()
a = {'brand': 'mahindra' , 'model': 'scorpio' , 'year': '2023'}
a.clear()
a

{}

Sets In Python

In [18]:
#(1). identification()
#(2). mutable, unordered, inindexed
#(3). it will not accept duplicate values.

In [19]:
a = {'a' , 'b' , 'a' , 'a' , 'c'}
print(a)

{'b', 'a', 'c'}

In [20]:
type(a)

set

In [21]:
#mutable
a = {'a' , 'b' , 'a' , 'a' , 'c'}
a.add('d')
a

{'a', 'b', 'c', 'd'}

In [22]:
a.remove('d')
a

{'a', 'b', 'c'}

In [23]:
for i in a:
  print(i)

b
a
c

In [24]:
#Sets Operations

#(1). union
a = {1,2,3,4}
b = {3,4,5,6}
c = a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [25]:
#(2). intersection
a = {1,2,3,4}
b = {3,4,5,6}
c = a.intersection(b)
c

{3, 4}

In [26]:
#(3).
a-b

{1, 2}

In [27]:
#(4).
b-a

{5, 6}